<div class="jumbotron">
  <h1 class="burger-header display-4">Eat-Da-Burger!</h1>
  <hr class="my-4">
  {{!-- <p> --}}
  {{!-- Bootstrap row for burger cards --}}
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
    <h2 class="burger-subheader m-1">Add a Burger</h2>
    <form class="create-form">

      <div class="form-group m-1">
        <label for="ca m-1">Burger:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group m-1">
        <label for="devoured">Devour?</label><br>
        <input type="radio" name="devoured" value="1" checked> New Burger<br>
        <input type="radio" name="devoured" value="0"> Devoured Burger 
      </div>

      <button type="submit" class="btn btn-primary btn-lg m-1">Add Burger</button>
    </form>
    </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <h2 class="card-title m-1">New Burger <i class="fas fa-hamburger" style="color:red;"></i></h2>
        <hr>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <h2 class="card-title m-1">Devoured Burger <i class="fas fa-utensils" style="color:red; text-align: right"></i></h2>
        <hr>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
    
    {{!-- Close bootstrap row for burger cards --}}
  </div>
  {{!-- </p> --}}
</div>