<h1>Eat-Da-Burger!</h1>

{{!-- Bootstrap row for burger cards --}}
<div class="row">

  <div class="col-sm-6">
    <div class="card">
      <h2 class="card-title">Burger Devoured</h2>
      <hr>

      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <h2 class="card-title">Burger Waiting to be Devoured</h2>
      <hr>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </div>
  </div>
  {{!-- Close bootstrap row for burger cards --}}
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devour?</label><br>
    <input type="radio" name="devoured" value="1" checked> Burger to be Devoured<br>
    <input type="radio" name="devoured" value="0"> Burger Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>