<div class="jumbotron">
  <h1 class="burger-header display-4">Eat-Da-Burger!</h1>
  <hr class="my-4">
  {{!-- <p> --}}
  {{!-- Bootstrap row for burger cards --}}
  <div class="row">
    <div class="col-sm-3">
      <div class="card m-2 burger-form">
    <h2 class="burger-subheader m-2" style="color:tan;">Add a Burger</h2>
    <form class="create-form">

      <div class="form-group m-2">
        <label for="ca m-2" style="color:tan;">Burger:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group m-2">
        <input type="radio" name="devoured" value="1" checked> New Burger<br>
        <input type="radio" name="devoured" value="0"> Devoured Burger 
      </div>

      <button type="submit" class="btn btn-light m-2">Add Burger</button>
    </form>
    </div>
    </div>

    <div class="col-sm-4">
      <div class="card new-burger m-2">
        <h2 class="card-title new-burger-font m-1" style="color:tan;">New Burger <i class="fas fa-hamburger" style="color:tan;"></i></h2>
        <hr>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card devoured-burger m-2">
        <h2 class="card-title m-1" style="color:brown;">Devoured Burger <i class="fas fa-utensils" style="color:brown; text-align: right"></i></h2>
        <hr>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
    
    {{!-- Close bootstrap row for burger cards --}}
  </div>
  {{!-- </p> --}}
</div>