li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.jumbotron, body {
  background: url("../img/burger-photography-tips-styling.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: black;
  /* background-size: cover; Resize the background image to cover the entire container */
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.burger-header {
  font-family: "Alfa Slab One";
  color: red;
}

.card-title, .burger-subheader {
  font-family: "Alfa Slab One";
  color: black;
  text: center;
}
